
.editor-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;

  * {
    z-index: 99;
  }
}

.block-editor-editor-skeleton {
  top: 0;
}

@media (min-width: 782px) {
  .block-editor-editor-skeleton {
    left: 0;
  }
}
