
.editor-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
}

.editor-nav * {
  z-index: 99;
}

@media (min-width: 782px) {
  .edit-post-layout__content {
    margin-left: 0 !important;
  }
}
